<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eon.hg.fileserver.mapper.FileMapper">
  <resultMap id="BaseResultMap" type="eon.hg.fileserver.model.FileInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="md5" jdbcType="VARCHAR" property="md5" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="block" jdbcType="BIT" property="block" />
    <result column="last_ver" jdbcType="VARCHAR" property="last_ver" />
    <result column="record" jdbcType="VARCHAR" property="record" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, path, url, size, md5, status, type, block, last_ver, record
  </sql>

  <select id="getAll" resultMap="BaseResultMap"  >
    SELECT
    <include refid="Base_Column_List" />
    FROM tb_file
  </select>

  <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM tb_file
    WHERE id = #{id}
  </select>

  <select id="selectByMd5" parameterType="java.lang.String" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM tb_file
    WHERE md5 = #{md5}
  </select>

  <select id="selectByAppNo" parameterType="java.lang.String" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM tb_file f
    WHERE exists(select 1 from tb_profession p where p.file_id=f.id and p.app_no=#{app_no})
  </select>

  <insert id="insert" parameterType="eon.hg.fileserver.model.FileInfo" useGeneratedKeys="true" keyProperty="id">
    insert into tb_file (id, name,
      path, url, size, md5, type, status, block,
      last_ver, record)
    values (#{id}, #{name},
      #{path}, #{url}, #{size}, #{md5}, #{type}, #{status}, #{block},
      #{last_ver}, #{record})
  </insert>

  <update id="update" parameterType="eon.hg.fileserver.model.FileInfo">
    update tb_file
    set
    <if test="url != null">url = #{url},</if>
    last_ver = #{last_ver},
    status = #{status},
    record = #{record}
    where
    id = #{id}
  </update>

  <delete id="delete" parameterType="java.lang.Long" >
    DELETE FROM
    tb_file
    WHERE
    id =#{id}
  </delete>
</mapper>