<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eon.hg.fileserver.mapper.TbDownRecordMapper">
    <resultMap id="BaseResultMap" type="eon.hg.fileserver.model.TbDownRecord">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="file_id" jdbcType="BIGINT" property="fileId" />
        <result column="access_count" jdbcType="VARCHAR" property="accessCount" />
        <result column="src_ip" property="srcIp" />
    </resultMap>

    <sql id="Base_Column_List">
        id, file_id, access_count, src_ip
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_downrecord
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_downrecord
        WHERE id = #{id}
    </select>

    <select id="getByIpAndFile" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_downrecord
        WHERE
        src_id = #{src_ip}
        and file_id = #{file_id}
    </select>

    <insert id="insert" parameterType="eon.hg.fileserver.model.TbDownRecord" useGeneratedKeys="true" keyProperty="id">
        insert into tb_downrecord (id, file_id, access_count, src_ip)
        values (#{id}, #{fileId}, #{accessCount}, #{srcIp})
    </insert>

    <update id="update" parameterType="eon.hg.fileserver.model.TbDownRecord">
        update tb_downrecord
        set
        access_count = #{accessCount}
        where
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        DELETE FROM
        tb_downrecord
        WHERE
        id =#{id}
    </delete>
</mapper>