<div class="layui-fluid" id="VIEW-notice-index" lay-title="通知管理">
  <div class="layui-row">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body eonadmin-table-full">
          <form class="layui-form eonadmin-pad-t10" action="" lay-filter="form-group">
            <div class="layui-form-item">

              <div class="layui-inline">
                <label class="layui-form-label">用户名：</label>
                <div class="layui-input-block">
                  <input type="text" name="ipAddr" autocomplete="off" class="layui-input laytext">
                </div>
              </div>

              <div class="layui-inline">
                <div class="layui-input-block">
                  <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="form-group-submit">
                    检索
                  </button>
                  <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                </div>
              </div>
            </div>
          </form>
          <div class="layui-btn-container eonadmin-pad-l10">
            <div class="layui-btn layui-btn-sm table-action" data-type="add">添加</div>
            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" data-type="batchdel">
              批量删除
            </div>
          </div>
          <table id="list-table-notice" lay-filter="list-table-notice"></table>
        </div>
      </div>
    </div>
  </div>
  <script type="text/html" id="table-notice-opera">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
  </script>
</div>
<script>
    layui.use(['admin', 'table', 'form', 'jquery'], function (admin, table, form, $) {
        var view = $('#VIEW-notice-index');

        var tableFilter = 'list-table-notice';
        form.render();
        table.render({
            elem: '[lay-filter="' + tableFilter + '"]',
            //api: 'getNoticeList',
            url: '/manage/warning/user/list',
            height: 'full-225',
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {title: 'id', field: 'id', width: 50},
                {title: '用户名', field: 'name', minWidth: 100},
                {title: '手机号', field: 'phone', minWidth: 160},
                {
                    title: '邮箱',
                    field: 'email',
                    minWidth: 220
                },
                {title: '操作', width: 150, align: 'center', fixed: 'right', toolbar: '#table-notice-opera'}
            ]]
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('list-table-notice')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }

                layer.confirm('确定删除吗？', function (index) {

                    //执行 Ajax 后重载
                    admin.post({
                        url: '/manage/warning/user/batchdel',
                        data: JSON.stringify(checkData),
                        contentType: 'application/json',
                        success: function (res) {
                            if (res.code == 0) {
                                table.reload('list-table-notice');
                                layer.close(index); //关闭弹层
                            } else {
                                layer.msg(res.msg);
                            }
                        }
                    });
                });
            }
            , add: function () {
                admin.popup({
                    title: '添加通知用户',
                    url: '/early/notice_edit',
                    maxmin: true,
                    area: ['500px', '350px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        var submitID = 'LAY-notice-front-submit',
                            submit = layero.find('#' + submitID);
                        //监听提交
                        layui.form.on('submit(' + submitID + ')', function (data) {
                            var field = data.field; //获取提交的字段
                            //提交 Ajax 成功后，静态更新表格中的数据
                            admin.post({
                                url: '/manage/warning/user/insert',
                                //api: 'insertnoticeData',
                                data: field,
                                success: function (res) {
                                    if (res.code == 0) {
                                        table.reload('list-table-notice'); //数据刷新
                                        layer.close(index); //关闭弹层
                                    } else {
                                        layer.msg(res.msg);
                                    }
                                }
                            });

                        });
                        submit.trigger('click');
                    }
                });
            }
        };
        view.find('.table-action').click(function () {
            var type = $(this).attr('data-type');
            active[type] ? active[type].call(this) : '';
        });

        //监听工具条
        table.on('tool(' + tableFilter + ')', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除这个用户么', function (index) {
                    admin.post({
                        url: '/manage/warning/user/delete',
                        data: data,
                        success: function (res) {
                            if (res.code == 0) {
                                obj.del();
                                layer.close(index); //关闭弹层
                            } else {
                                layer.msg(res.msg);
                            }
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                var tr = $(obj.tr);

                admin.popup({
                    title: '修改通知用户',
                    url: '/early/notice_edit',
                    maxmin: true,
                    area: ['500px', '350px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        var submitID = 'LAY-notice-front-submit',
                            submit = layero.find('#' + submitID);
                        //监听提交
                        layui.form.on('submit(' + submitID + ')', function (data) {
                            var field = data.field; //获取提交的字段
                            //提交 Ajax 成功后，静态更新表格中的数据
                            admin.post({
                                url: '/manage/warning/user/update',
                                //api: 'insertnoticeData',
                                data: field,
                                success: function (res) {
                                    if (res.code == 0) {
                                        table.reload('list-table-notice'); //数据刷新
                                        layer.close(index); //关闭弹层
                                    } else {
                                        layer.msg(res.msg);
                                    }
                                }
                            });

                        });
                        submit.trigger('click');
                    },
                    success: function(layero, index){
                        layui.form.val("form-group-notice",data);
                    }
                });
            }
        });

        /* 监听提交 */
        form.on('submit(form-group-submit)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            });
            //执行重载
            table.reload('list-table-notice', {
                where: field
            });
            return false;
        });
    });
</script>